<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="Dash" value="https://proget.smchcn.net/nuget/dash" />
	<add key="Phoenix" value="https://proget.smchcn.net/nuget/Phoenix" />-->
  </packageSources>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAJ77dRcKtvUGoxM1fqMx25QAAAAACAAAAAAADZgAAwAAAABAAAAAS6w9h2T+KiSjB/0lm0dFaAAAAAASAAACgAAAAEAAAAPpIlKTHjatYzwad69/WAh8gAAAAgYW63lbnnYt553jPUEkrVEPuM8CJgYzxAhg3JdZHn44UAAAAG2ok7iIEJQXR8dJSNkEKRv5/w/M=" />
    <add key="https://nuget.smbsrc.net/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAJ77dRcKtvUGoxM1fqMx25QAAAAACAAAAAAADZgAAwAAAABAAAACfoZf+UBoo1cZcKd7JZpSyAAAAAASAAACgAAAAEAAAALCJxhEBS77kc4rjpILbgjQgAAAAfZW7id7suBmnzJg7Deb5tBFoW+ilBnkywIxZGmljgccUAAAA7zGRvhyFy0G+zEkW4nmYffsXPro=" />
  </apikeys>
  <packageSourceCredentials>
    <Dash>	
      <add key="Username" value="svc_proget" />
      <add key="ClearTextPassword" value="OUsX!uPC42nlFc" />
    </Dash>
	<Phoenix>
      <add key="Username" value="svc_proget" />
      <add key="ClearTextPassword" value="OUsX!uPC42nlFc" />
    </Phoenix>
  </packageSourceCredentials>
</configuration>